.notesContainer{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(200px,auto);
    grid-auto-columns: min-content;
    gap: 12px;
}


@media (min-width: 768px) {
    .notesContainer{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1000px) {
    .notesContainer{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (min-width:1200px){
    .notesContainer{
        grid-template-columns: repeat(5,1fr);
    }
}