.addNoteButton{
    width: 95%;
    height: 56px;
    background-color: var(--blue);
    box-shadow: 1px 1px 12px var(--hospital-green);
    position: absolute;
    bottom: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    /* items */
    color: var(--hospital-green);
    font-size: 50px;

    display: grid;
    place-content: center;

    z-index: 1;
}
.addNoteButton:active{
    background-color: #160e55;
}
@media (min-width:768px) {
    .addNoteButton{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        right: 10px;
        bottom: 10px;
    }
}
@media (min-width:1000px) {
    .addNoteButton{
        width: 85px;
        height: 85px;
        border-radius: 50%;
        right: 5px;
    }
}

