:root{
  --white:#FFFFFF;
  --black:#000000;
  --hospital-green:#ACD9B2;
  --blue :#261893 ;
  --aqua-blue:#5eeeb8;
  --violet: #690b7c;
  --yellow:#f3fa01;
  --sm: 14px;
  --md:16px;
  --lg:18px;
}

body {
  margin: 0;
  background-color: #ACD9B2;
  
}

code {
  font-family: Monaco;
}
